-account = business.business_account
%tr.center.business{:id => dom_id(business)}
  %td= business.id
  %td= link_to business.place.name, edit_admin_place_path(business.place)
  %td= "#{mail_to account.email_with_name, account.name} (#{account.title.titlecase})".html_safe
  %td= account.phone
  %td= yes_no(business.verified?).titlecase
  %td= business.created_at.strftime('%m-%d-%Y')
  %td
    =link_to business.verified?? "Revoke" : "Verify", toggle_admin_business_path(business), "data-method" => "put", :class => "verification ajax"
    \/
    =link_to account.verified?? "Account Revoke" : "Account Verify", toggle_account_admin_business_path(business), "data-method" => "put", :class => "verification ajax"