=render :partial => "header"

.bizbd
  .nextstep
    %a.closer{:href => "javascript:;"}
    %h1="Welcome #{Time.now - @business.created_at < 24.hours ? "" : "back"} to Spot for #{@business.name}!"
    =biz_nextstep(@business)
  .status
    .title
      Status :
      %span.verification{:class => @business.status_string.downcase}
        =@business.status_string.titlecase
        -unless @business.verified?
          %span.explanation
            (Certain features are restricted to verified businesses. A member of our staff will contact you shortly to verify your identity.)
    .title="Claimed on #{@business.created_at.strftime("%B %d, %Y")}, #{time_ago_in_words(@business.created_at)} ago"

  .wishlist_count.stat
    .title
      -if @business.place.wishlist_count > 100
        -var = @business.place.wishlist_count
        %var=var
        =var == 1 ? "Spot Members" : "Spot Members" 
        have Wishlisted your place
      -else
        Grow your audience
    %hr
    .content
      %strong Want more Spot Members to Wishlist your spot?
      %ul
        %li="#{twitter_share_link "http://www.spot-app.com", "Wishlist #{@business.place.name} on Spot to get updates about promotions.", "Tweet"} about your spot.".html_safe
        %li="#{fb_post({:name => "Wishlist #{@business.place.name} on Spot!", :caption => "Add #{@business.place.name} to your wishlist on Spot to get updates about promotions.", :url => root_url}, "Post")} about your spot on Facebook.".html_safe
        %li="Add a #{link_to "Spot widget", biz_widgets_path} to your website.".html_safe
        %li="Use #{link_to "promotions", calendar_biz_business_path(@business)} to encourage members to come to your business.".html_safe
  .promotions_count.stat
    .title
      -var = @business.promotion_templates.active.count
      %var=var
      =var == 1 ? "Promotion" : "Promotions" 
      Created
      =link_to "Create More Promotions", calendar_biz_business_path(@business), :class => "relatedlink"
    %hr
    .content
      %strong Create promotions to encourage Spot members to come to your business during slow hours.
      %ul 
        %li Control the discount, number of promotions you'd like to offer per day, and the times the promotion should be valid for.
        %li Add a description to make the promotion more attractive.
        %li Schedule the promotion to make it valid sometime in the next 90 days.
        %li="Go to your #{link_to "calendar", calendar_biz_business_path(@business)} to manage promotions.".html_safe

  .promotion_events_count.stat
    .title
      -var = @business.promotion_events.upcoming.count
      %var=var
      =var == 1 ? "Promotion" : "Promotions"
      Scheduled
      =link_to "Schedule More Promotions", calendar_biz_business_path(@business), :class => "relatedlink"
    %hr
    .content
      %strong Schedule promotions for dates you want them to be valid.
      %ul 
        %li Cancel outstanding promotions for any date at any time.
        %li Issued promotions are associated with unique 4-digit codes.
        %li Codes are valid only for your business on the specified date.
        %li Codes are sent every morning.
        %li="Manage all your #{link_to "promotion codes", biz_business_codes_path(@business)}.".html_safe
        %li="Schedule more promotions on your #{link_to "calendar", calendar_biz_business_path(@business)}.".html_safe

  .help.stat
    .title="Help, I'm so Confused!"
    %hr
    .content
      %p
        If you need help at any time, day or night, we are here to help.
        =link_to "Contact us", new_biz_contact_path
        or call us toll-free, anytime,
        %strong
          =PHONE_NUMBER