=content_for :toptitle do
  -if params[:q] || params[:tag]
    =link_to "Spot Blog", blog_index_path
    &middot;
    -if params[:q]
      =" containing \"#{params[:q]}\""
    -if params[:tag]
      =" filed under \"#{params[:tag]}\""
  -else
    Spot Blog
#blog.clearfix
  #posts
    -if @posts.length == 0
      %h1.tf.center No Posts Found
    
    -@posts.each_with_index do |post, i|
      .post.preview{:id => "post_#{post.id}", :class => "#{post.dom_class} #{first_or_last(@posts, i)}"}
        -if post.kind_of?(Wrapr::Tumblr::Regular)
          %h1.tf=link_to post.title.html_safe, blog_path(post)
          .byline=byline(post)
          .body.clearfix=post.body.html_safe
        -elsif post.kind_of?(Wrapr::Tumblr::Photo)
          %a.image{:href => blog_path(post)}
            =image_tag post.max_size.url, :width => [post.max_size.max_width, 600].min
          .caption=post.caption.html_safe
          %p.byline="Uploaded #{byline(post)}"
        
        .clearfix
          .left
            %a.comment_count{:href => blog_path(post)}
              %span.count="<fb:comments-count href=\"#{post_url(post)}\"/></fb:comments-count>".html_safe 
              comments
            .twits.left
              %a{:href => "http://twitter.com/share", :class => "twitter-share-button", "data-url" => post_url(post), "data-text" => post_tweet(post), "data-count" => "horizontal"} Tweet
            .gplus.left
              %g:plusone{:size => "medium", :href => post_url(post)}

            .face.left
              %fb:like{:href => post_url(post), :send => "true", :layout => "button_count", :show_faces => "false", :font => "lucida grande"}

        %hr
    #pagination.clearfix
      -if @posts.previous_page
        .last.left
          =link_to "< Newer Items", blog_index_path(params.slice("q", "tag", "per_page").merge("page" => @posts.previous_page))
      -if @posts.next_page
        .next.right
          =link_to "Older Items >", blog_index_path(params.slice("q", "tag", "per_page").merge("page" => @posts.next_page))
          
  #rightrail.right
    .about.section.first
      .image=image_tag "logos/appicon57x57.png", :size => "57x57"
    .tags.section
      %h3.tf Topics
      %ul
        -BlogPost::TOPICS.each do |tag|
          %li.tag=link_to tag, blog_index_path(:tag => tag)
        %li.tag=link_to "All", blog_index_path
    .search.section
      %h3.tf Search
      %ul.form.search.light.accept_focus
        =form_tag blog_index_path, :method => :get, :autocomplete => "off" do
          -if params[:tag]
            =hidden_tag :tag, params[:tag]
          %label{:for => "search_query_text"}
            %li.search_icon
            %li.search.accept_focus=text_field_tag :q, "", :id => "search_query_text"
    .all_entries.section
      =link_to "All Entries", blog_index_path
    .engage.section
      %h3.tf Engage!
      %ul
        %li
          %a{:href => "http://twitter.com/spotteam", :class => "twitter-follow-button", "data-show-count" => "false"} Follow @spotteam
        %li.facebook
          %fb:like{:href => "http://www.facebook.com/JoinSpot", :send => "true", :layout => "button_count", :show_faces => "false", :font => "lucida grande"}
        %li
          =link_to "Subscribe", blog_index_url(:xml), :class => "rss tf"
    %hr
    .section.contact
      %p Want to share your wishlist? Got a guest post you'd love to write? 
      %p 
        We're looking for food bloggers and restaurant mavens to feature - 
        =mail_to "jgraham@spot-app.com", "send us an email"
        to learn more.