-set_page_title "#{@post.title} - The Spot Blog"
-set_spot_app_title "The Spotlight"


=content_for :toptitle do
  =link_to "The Spotlight", blog_index_path
  -if @post.respond_to?(:title) 
    &middot;
    =@post.title.html_safe

.clearfix
  -if @post
    #posts
      .post{:id => "post_#{@post.id}", :class => "#{@post.dom_class}"}
        -if @post.kind_of?(Wrapr::Tumblr::Regular)
          %h1.tf=@post.title.html_safe
          .body=@post.body.html_safe
        -elsif @post.kind_of?(Wrapr::Tumblr::Photo)
          .image=image_tag @post.max_size.url, :width => [@post.max_size.max_width, 600].min
          .caption=@post.caption.html_safe
      
        .clearfix
          .sharinglinks
            .twits
              %a{:href => "http://twitter.com/share", :class => "twitter-share-button", "data-url" => post_url(@post), "data-text" => post_tweet(@post), "data-count" => mobile_request?? "none" : "horizontal"} Tweet
            .gplus
              %g:plusone{:size => "medium", :annotation => mobile_request?? "none" : "button", :href => post_url(@post)}

            .face
              %fb:like{:href => post_url(@post), :send => "true", :layout => "button_count", :show_faces => "false", :font => "lucida grande"}
  
        %hr
        %fb:comments{:href => post_url(@post), :num_posts => "10", :width => mobile_request?? 280 : 600}
  -else
    %h1.tf We had difficulty finding that. Please try again.
  -if mobile_request?
    .more.tf=link_to "More Entries".html_safe, blog_index_path
  -else
    #rightrailcontainer.right
      #rightrail
        .about.section.first
          =pitch_line
          =button_to "Join Spot Now", root_url, :class => "tf btnorg175x32"
      .section
        -if @post.kind_of?(Wrapr::Tumblr::Regular)
          .byline="Posted #{byline(@post)}"
        -elsif @post.kind_of?(Wrapr::Tumblr::Photo)
          .byline="Uploaded #{byline(@post)}"
      .section.clearfix
        %h3.tf Filed Under
        %ul
          -@post.tags.each do |tag|
            %li.tag=link_to tag.titlecase, blog_index_path(:tag => tag)
      %hr
      .section.tf
        =link_to "More Entries".html_safe, blog_index_path, :class => "dotted"