="Hello #{@account.first_name},"

="Congratulations! Your deal, '#{@deal.name}' has been approved for distribution."

So what now?

="Go to #{link_to "your deal calendar", calendar_biz_business_url(@deal.business)} to start making your deal available by date."

="If you need any assistance, please feel free to contact me by email at #{mail_to @reply_to} or by phone at #{@phone_to} anytime of day."

Sincerely,

Julia & The Spot Team
julia@spot-app.com
http://www.spot-app.com