%p="Hello #{@account.first_name},"

%p="Here are your discount codes for #{@date.strftime('%B %d, %Y')} :"

-@events.each do |event|
  %p{:style => "margin:10px 0;font-size:12px;font-weight: bold;"}="For your promotion, '#{event.name}':"
  %p{:style => "margin:10px 0;"}
    =event.summary
  %table{:style => "margin-left:10px;"}
    -event.codes.each_with_index do |code, i|
      %tr
        %td{:style => "width: 35px;"}="#{i + 1}."
        %td{:style => "font-weight: bold;width:50px"}=code.code
        %td=code.issued?? "issued to #{code.owner.name}" : "not yet issued"
        
%p Sincerely,
%p Julia & The Spot Team
%br
=mail_to "julia@spotmembers.com", "julia@spotmembers.com", :style => "color:#333"
%br
=link_to "http://www.spot-app.com", "http://www.spot-app.com", :style => "color:#333"