="Hello #{@account.first_name},"

="Congratulations! Your promotion, '#{@promotion.name}' has been approved for distribution."

So what now?

="Go to #{link_to "your calendar", calendar_biz_business_url(@promotion.business)} to start making your promotion available by date."

="If you need any assistance, please feel free to contact me by email at #{mail_to @reply_to} or by phone at #{@phone_to} anytime of day."

=render :partial => "shared/mailers/signature"