="Hello #{@account.first_name},"

="Here are your promotion codes for #{@date.strftime('%B %d, %Y')} :"

-@events.each do |event|
  ="For your promotion, '#{event.name}' :"
  =event.summary

  -event.codes.each_with_index do |code, i|
    ="#{i + 1}. #{code.code} - #{code.issued?? "issued to #{code.owner.name}" : "not yet issued"}"

Sincerely,

Julia & The Spot Team
julia@spot-app.com
http://www.spot-app.com