%p="Hello #{@account.first_name},"

%p="Congratulations! Your business, '#{@biz.place.name}' has been verified!"

%p What does this mean? You now have full access to all of Spot's tools for businesses! 

%p 
  You can now :
  %ul
    %li="Update your #{link_to "business details", edit_biz_business_path(@biz)}.".html_safe
    %li="#{link_to "Create promotions", calendar_biz_business_path(@biz)} for your business.".html_safe
    %li="#{link_to "Schedule promotions", calendar_biz_business_path(@biz)} for distribution.".html_safe
    %li="#{link_to "Manage promotion codes", biz_business_codes_path(@biz)} for all your running promotions.".html_safe

%p="If you need any assistance, please feel free to contact me by email at #{mail_to @reply_to} or by phone at #{@phone_to} anytime of day.".html_safe

%p Sincerely,
%p Julia & The Spot Team
%br
=mail_to "julia@spotmembers.com", "julia@spotmembers.com", :style => "color:#333"
%br
=link_to "http://www.spot-app.com", "http://www.spot-app.com", :style => "color:#333"