.title
  .eventname=event.name
  .summary=event.summary
%table
  %thead
    %tr
      %th id
      %th code
      %th issued to
      %th redeemed on
  -event.codes.each_with_index do |code, i|
    %tr.code{:class => "#{code.status_string} #{cycle("even", "odd")}"}
      %td.number="#{i + 1}"
      %td.code_string=code.code
      %td.issuance
        =code.issued?? "#{code.owner.name}" : "--"
      %td.redemption
        -if code.redeemed?
          ="#{code.redeemed_at.strftime('%I:%M %P')}"
        -elsif code.issued?
          =form_tag redeem_biz_business_code_path(code.business, code), :class => "code_redeem_form", :method => :put do
            =button_tag :class => "btngryflat" do
              Redeem
        -else
          ="--"