.manager
  .top.clearfix
    %h1.title="#{@source.to_s.titlecase}s For :"
    %h2.clear.title="#{@place.name} #{@place.full_address}"
  %table.data
    %thead
      %tr
        %th Name
        %th Address
        %th Geo-Dist
        %th Name Match
        %th Addr Match
        %th Close?
        %th Actions
    %tbody
      -@matches.each do |match|
        %tr.center{:class => match.proximity.close?? "match" : nil}
          %td=match.candidate.name
          %td=match.candidate.full_address
          %td="#{match.proximity.geo_distance.round} m"
          %td="#{(match.proximity.name_match * 100).round}%"
          %td="#{(match.proximity.address_match * 100).round}%"
          %td="#{match.proximity.close?? 'Yes' : 'No'}"
          %td
            =link_to "Page", external_place_url(match.candidate)
            =form_for :match, :url => admin_place_matches_path(@place), :html => { :class => "inline" } do |t|
              =t.hidden_field :source, :value => @source.to_sym
              =t.hidden_field :id, :value => match.candidate.source_id
              =button_tag :class => "link" do
                Match!