.place.detail{:id => dom_id(@place)}
  .left
    =render :partial => "shared/places/iphone", :object => @place, :as => :place
    -unless @place.new_record?
      .subtext
        -if @place.image_attribution.present?
          .attribution
            ="Image Courtesy Of "
            =link_to "#{@place.image_attribution["source"].titlecase} API", @place.image_attribution["owner_url"], :target => "_new"       
        %p.page_link=link_to "spot page", ShortUrl.shorten(place_path(@place))
        .external_places
          -ExternalPlace.sources.each do |src|
            -if ep = place.external_place(src)
              =link_to "#{src.to_sym}", external_place_url(ep), :target => "_new", :class => "matched"
            -else
              =link_to "#{src.to_sym}", admin_place_matches_path(@place, :src => src.to_sym), :class => "potential"

  .sidebar
    .map_message
    .map=image_tag(google_static_map_url(@place, :size => "320x250"))
    .latlng="@#{@place.to_lat_lng}"
    =render :partial => "form", :object => @place, :as => :place

  
  .duplication
    -if @place.duplicate?
      %h2 Duplicate of...
      %p.canonical
        =link_to(@place.canonical.id, admin_place_path(@place.canonical)) + '.'
        ="#{@place.canonical.name} #{@place.canonical.address}"

    -elsif @place.duplicates.present?
      %h2 Also Known As...
      -@place.duplicates.each do |dupe|
        %p.duplicate
          =link_to(dupe.id, admin_place_path(dupe)) + '.'
          ="#{dupe.name} #{dupe.address}"