.place.detail{:id => dom_id(@place)}
  .sidebar
    .map=image_tag(google_static_map_url(@place, :size => "320x250"))
    .latlng="@#{@place.to_lat_lng}"
    -if @place.image_attribution.present?
      .attribution
        ="Image Courtesy Of "
        =link_to "#{@place.image_attribution["source"].titlecase} API", @place.image_attribution["owner_url"], :target => "_new"       
    .external_places
      -ExternalPlace.sources.each do |src|
        -if ep = place.external_place(src)
          %p=link_to "#{src.to_s.titlecase} Page", external_place_url(ep), :target => "_new"
        -else
          %p=link_to "Potential #{src.to_s.titlecase}s", admin_place_matches_path(@place, :src => src.to_sym)
    .form
      =render :partial => "form", :object => @place, :as => :place
    -unless @place.new_record?
      =link_to "Delete", admin_place_path(@place), "data-confirm" => "Are you sure you want to delete #{@place.name}?", "data-method" => "delete"
  =render :partial => "shared/places/iphone", :object => @place, :as => :place
  .duplication
    -if @place.duplicate?
      %h2 Duplicate of...
      %p.canonical
        =link_to(@place.canonical.id, admin_place_path(@place.canonical)) + '.'
        ="#{@place.canonical.name} #{@place.canonical.address}"

    -elsif @place.duplicates.present?
      %h2 Also Known As...
      -@place.duplicates.each do |dupe|
        %p.duplicate
          =link_to(dupe.id, admin_place_path(dupe)) + '.'
          ="#{dupe.name} #{dupe.address}"