%table.data
  %thead
    %tr
      %th Image
      %th Id
      %th Name
      %th Address
      %th Wishlists
      %th Lat, Lng
      %th Actions
  %tbody
    -@places.to_a.each do |place|
      %tr.center.place{:id => dom_id(place)}
        %td= image_tag place.image.url(:i117x84), :size => "58x42", :class => "place_image clickable", :alt => "", :title => "Click to Change"
        %td= place.id
        %td= place.full_name
        %td= place.full_address
        %td= place.wishlist_count.to_i
        %td= place.to_lat_lng
        %td
          =link_to "Edit", edit_admin_place_path(place)