%table.data
  %thead
    %tr
      %th Image
      %th Id
      %th Name
      %th Address
      %th Wishlists
      %th Lat, Lng
      %th Actions
  %tbody
    -@places.to_a.each do |place|
      %tr.center.place{:id => dom_id(place)}
        %td= image_tag place.image.url(:i234x168), :size => "58x42", :class => "place_image clickable", :alt => "", :title => "Click to Change", 'data-img-src' => place.image.processed_url(:i234x168)
        %td= place.id
        %td= place.full_name
        %td= place.full_address
        %td= place.wishlist_count.to_i
        %td= place.to_lat_lng
        %td
          =link_to "Edit", edit_admin_place_path(place)
          =link_to "Page", place_path(place)
          -ExternalPlace.sources.each do |src|
            -if ep = place.external_place(src)
              =link_to "#{src.to_sym}", external_place_url(ep), :target => "_new"
            -else
              =link_to "#{src.to_sym}", admin_place_matches_path(@place, :src => src.to_sym), :class => "potential"
            