.manager
  .top.clearfix
    .pagination
      -if @places.next_page
        .next=link_to "Next &rarr;".html_safe, admin_places_path(:page => @places.next_page), :class => "page"
      -if @places.previous_page
        .previous=link_to "&larr; Previous".html_safe, admin_places_path(:page => @places.previous_page), :class => "page"
    %h1.title Places
    .links
      =link_to "Imageless", admin_places_path(:filter => "imageless"), :class => "page"
      =link_to "Wishlisted", admin_places_path(:filter => "wishlisted"), :class => "page"
      =link_to "Search", 'javascript:;', :class => "search_link"
      =link_to "All", admin_places_path, :class => "page"
      =link_to "New", new_admin_place_path
    %ul#search_form_wrapper.form_wrapper
      =form_tag admin_places_path, :method => :get, :id => "search_form", :class => "hidden page" do
        %li
          =label_tag :query, "Search For : "
          =text_field_tag :query
          =button_tag :class => "rndblk_80x26" do
            Search    
  %table.data
    %thead
      %tr
        %th Image
        %th Id
        %th Name
        %th Address
        %th Document
        %th Lat, Lng
        %th Actions
    %tbody
      -@places.each do |place|
        %tr.center.place{:id => dom_id(place)}
          %td= image_tag place.image.url(:i117x84), :size => "58x42", :class => "place_image clickable", :alt => "", :title => "Click to Change"
          %td= place.id
          %td= place.full_name
          %td= place.full_address
          %td= place.document
          %td= place.to_lat_lng
          %td
            =link_to "Edit", edit_admin_place_path(place)
  .pagination.bottom
    -if @places.next_page
      .next=link_to "Next &rarr;".html_safe, admin_places_path(:page => @places.next_page), :class => "page"
    -if @places.previous_page
      .previous=link_to "&larr; Previous".html_safe, admin_places_path(:page => @places.previous_page), :class => "page"