%h2.myevents.tf.top My Upcoming Events
.events
  -if current_user.member?
    -codes = current_user.codes.upcoming.all
    .codes
      %table
        -[codes.count, current_user.code_slots].max.times do |i|
          -code = codes[i]
          %tr{:class => "#{first_or_last(3, i)} #{conditionally("empty", code.nil?)}"}
            -if code
              -event = code.event
              -place = event.place
              %td.code
                %a{:href => registration_path(code)}     
                  %code=code.code
              %td.summary
                %h3=link_to event.name, place_event_path(place, event.template)
                At
                =link_to place.name, place_path(place) 
                on 
                =event.date.strftime("%A, %B %d, %Y")
              %td
                =link_to "cancel?", registration_path(code), "data-method" => "DELETE", "data-confirm" => "Are you sure you want to cancel?", :class => "cancel"
            -else
              %td.code
                No Event
              %td.summary{:colspan => 2}
                -city = current_user.active_membership.city
                =link_to "Browse in #{city.name.titlecase}.", city_path(city)
  -elsif current_user.expired_memberships.present?
    Spot Events are only open to Spot Members.
    %p
      We're very sorry that you decided to cancel your membership. 
      If you'd like to continue receiving Spot Membership experiences, please
    %p="#{link_to "renew membership", new_membership_path, :class => "btnorg300x41 tf"}".html_safe
  -elsif current_user.membership_application 
    Spot Events are only available to Spot Members.
    -if current_user.membership_application.approved?
      %p Congratulations! Your application has been approved.
      %p="#{link_to "complete application", new_membership_path, :class => "btnorg300x41 tf"}".html_safe
    -else
      %p
        We've received your application and it is currently under review. 
        We'll be in touch shortly, but if you're eager, you can
        =link_to "check the status", application_path 
        at any time.          
  -else
    .applyline
      Events are only open to Spot Members :
      =link_to "become a member", new_application_path, :class => "btnmembership btnorg300x41 tf"
