-place = promotion.place || Place.first
-account = promotion.business.business_account || BusinessAccount.first
.promotion.clearfix
  %h1="#{promotion.id}. #{link_to(place.name, edit_admin_place_path(place))} - #{promotion.name}".html_safe
  .summary
    = promotion.summary
    &bull;
    %span.status{:class => promotion.status_string}= promotion.status_string
    
  -if promotion.rejected? || promotion.pending? || promotion.approved?
    =spot_form_for promotion, :as => :template, :url => admin_promotion_path(promotion), :display => "light" do |f|
      -if params[:filter].present?
        =hidden_field_tag :filter, params[:filter]
      =f.hidden_field :status, :class => "promo_status"
      %li.label
        =f.label :name, "Name : "
      =f.text_field :name
      %li.label
        =f.label :short_summary, "Short Summary : "
      =f.text_field :short_summary
      %li.labelled
        =f.check_box :designed_by_spot
        =f.label :designed_by_spot, "Designed By Spot?"
      %li.label
        =f.label :description, promotion.kind_of?(DiscountTemplate) ? "Editorial Description : " : "Promotion Description : "
      =f.text_area :description, :container_class => "tinymce", :id => "template_description_#{promotion.try(:id) || "new"}"
      %li.buttons
        -unless promotion.approved?
          =link_to "Approve", admin_promotion_path(promotion), :class => "btngrypill center submit", "data-status" => PromotionTemplate::APPROVED_STATUS, "data-confirm" => "Really? Are you sure you want to approve '#{promotion.name}'"
        =link_to "Update", admin_promotion_path(promotion), :class => "btngrypill center submit", "data-status" => promotion.status
        =link_to "Reject", admin_promotion_path(promotion), :class => "btngrypill center reject", "data-name" => promotion.name
        =link_to "Delete", admin_promotion_path(promotion), :class => "btngrypill center", "data-confirm" => "Really? Are you sure you want to delete '#{promotion.name}'?", "data-method" => "DELETE"