!!! 5
/[if lt IE 7 ]<html lang="en" class="ie6 no-js">
/[if IE 7 ]<html lang="en" class="ie7 no-js">
/[if IE 8 ]<html lang="en" class="ie8 no-js">
/[if IE 9 ]<html lang="en" class="ie9 no-js">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
%head
  %meta{'charset' => 'utf-8'}
  %title Spot - Never Forget a Place
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
  %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
  = csrf_meta_tag 
  = js_trigger_tag
  = yield :head
%body{:id => page_namespace, :class => "admin #{controller_name}"}
  #bd.clearfix
    = yield