=content_for :toptitle do
  =@city.name.titlecase

=content_for :above do
  =render :partial => "/shared/membership/overlay", :locals => {:describe => true}
  
=content_for :bgimage do
  .stretcher{'data-gravity' => "0.5x0.5"}
    =image_tag "stretcher/cities/#{@city.slug}1.jpg", :size => "2292x1524"

.title.clearfix
  %h1.tf=title
  %ul.pillbox
    -@views.each_with_index do |view, i|
      %li.pill{:class => first_or_last(@views, i)}=link_to_with_current view, send("#{view}_city_path", @city), :current => @view == view
      
=content_for :bottom do
  -if !mobile_request? && !current_member? && (invite_request.try(:invite_sent?) || session_invite) && !session[:seen_city_intro]
    -session[:seen_city_intro] = true
    #city_intro.clearfix.hidden{"data-title" => "Spot #{@city.name.titlecase}"}
      %h1.tf="Welcome to Spot for #{@city.name.titlecase}"
      %h2.tf="For just $#{MONTHLY_PRICE} a month, our members get access to special perks at top restaurants all over town."
      .trial_period
        %p 
          Congratulations - You've unlocked 
          %strong="#{pluralize(session_promo.try(:duration) || 1, "free month")}."        
          of Spot Membership!
        %p Grab it now, before it's gone!        

      .body.clearfix
        =button_to "become a member", new_application_path, :class => "becomemem btnorg250x32"
        %p.explore=link_to "Explore Benefits", city_path(@city), :class => "closer"
        %p.learn=link_to "Learn More", membership_about_path