=render :partial => "header", :locals => {:title => "Membership Experiences Calendar"}  

#calendar.calendar.clearfix.rows
  .month_placeholder
    .month_title
      .month.tf=@page.calendar.keys.first.strftime('%B %Y')
  .dates.clearfix
    -@page.calendar.keys.each_with_index do |date, i|
      -events = @page.calendar[date]
      .date{:class => "col#{i.modulo(5) + 1} #{conditionally("today", date == Date.today)} #{conditionally("empty", events.empty?)}", "data-date" => date.strftime('%m/%d/%Y')}
        .day.tf
          =date.day
          %span.dow=date.strftime('%a').upcase
        .events
          -if events.empty?
            no events today
          -else
            -if @page.images[date]
              .imageshield=image_tag @page.images[date].url(:i234x168), :size => "234x168"
            -events.each do |event|
              -template = event.template
              -place = event.place
              %a.event{:href => place_event_path(place, template)}
                .timeframe="#{template.timeframe.titlecase} : "
                .name
                  %span.place="#{place.name}"
                  =":"
                  %span.experience=template.name