=content_for :bgimage do
  .stretcher{'data-gravity' => "0.5x0.5"}
    =image_tag "stretcher/cities/#{@city.slug}1.jpg", :size => "2292x1524"

=content_for :toptitle do
  =@city.name.titlecase

=content_for :above do
  -unless current_member?
    .overlay.clearfix
      .title.clearfix
        %h1.tf.left
          Get access to all these unforgettable experiences
        =button_tag :class => "btnorg170x41 btnmembership tf right" do
          apply now
      
.title.clearfix
  %h1.left.tf Featured Member Benefits
  -unless current_member?
    .right
      =button_tag :class => "btnorg300x41 btnmembership tf" do
        become a member

.featsection{:class => "size#{@page.featured.length}"}
  -@page.featured.each_with_index do |featured, i|
    %a.evtdis{:class => "feat#{i}", :href => place_event_path(featured.business.place, featured)}
      .image
        .disclosure
        =image_tag featured.business.place.image.url(:i640x400)
        .fadeout
        .text
          .name.tf="\"#{featured.name}\" at #{featured.business.place.name}"
      .description= featured.description
      
.upcoming.clearfix
  -(@page.upcoming).each do |template|
    %a.evtdis.template{:class => cycle("left", "right"), :href => place_event_path(template.business.place, template)}
      .image
        .disclosure
        =image_tag template.business.place.image.url(:i640x400), :size => "400x250"
        .fadeout
        .text
          .name.tf="\"#{template.name}\" at #{template.business.place.name}"
      .description=template.description