=render :partial => "header", :locals => {:title => "Featured Member Benefits"}    

.featsection{:class => "size#{@page.featured.length}"}
  -@page.featured.each_with_index do |featured, i|
    %a.evtdis{:class => "feat#{i}", :href => place_event_path(featured.business.place, featured)}
      .image
        .disclosure
        =image_tag featured.business.place.image.url(:i640x400)
        .fadeout
        .text
          .name.tf="\"#{featured.name}\" at #{featured.business.place.name}"
      .description= featured.description

.upcoming.clearfix
  -(@page.upcoming).each do |template|
    %a.evtdis.template{:class => cycle("even", "odd"), :href => place_event_path(template.business.place, template)}
      .image
        .disclosure
        =image_tag template.business.place.image.url(:i640x400), :size => "400x250"
        .fadeout
        .text
          .name.tf="\"#{template.name}\" at #{template.business.place.name}"
      .description=template.description