.calendar.clearfix
  -events = promotion.events.upcoming.hash_by { |e| e.date }          
  -if logged_in?
    -codes = current_user.codes.where(:event_id => events.values.map { |e| e.id }).all.hash_by { |c| c.date }
  -else
    -codes = {}
  -startdate = Date.today.sunday
  -startdate = startdate > Date.today ? Date.today.sunday - 1.week : Date.today.sunday
  -enddate = ([startdate + 2.weeks, promotion.events.upcoming.last.date].max).saturday
  -(startdate..enddate).each_with_index do |date, i|
    -week = (i/7).floor
    -lastweek = enddate.to_time - date.to_time < 1.week
    -event = events[date]
    -code = codes[date]
    .date{:class => "#{conditionally("visible", week < 2)} wday#{date.wday} wk#{week} #{conditionally("lastwk", lastweek)}"}
      .dow.tf=date.strftime('%a').upcase
      .doy.tf=date.day.ordinalize
      -if event && code
        .event
          %code=code.code
      -elsif event
        .event
          -if event.available?
            %a{:href => "#", :class => current_member?? "btnclaim" : "", "data-eid" => event.id}
              .text="#{event.remaining_count} left"
              -if current_member?
                .register register
          -else
            .soldout
              none left
      
.subtitles.clearfix
  .left
    -if enddate > startdate + 2.weeks
      =link_to "more", "#", :rel => ".availability", "data-toggle-class" => "showall", :class => "show"
      =link_to "fewer", "#", :rel => ".availability", "data-toggle-class" => "showall", :class => "hide"
