=content_for :bgimage do
  .stretcher{'data-gravity' => "0.5x0.5"}
    =image_tag "stretcher/event/photo#{@promotion.id.modulo(4) + 1}.jpg"

=content_for :above do
  -unless current_member?
    =render :partial => "/shared/membership/overlay", :locals => {:describe => true}

=content_for :toptitle do
  -if current_city
    =link_to current_city.name.titlecase, city_path(current_city)
    &middot;
  -unless mobile_request?
    =@place.name
    &middot;
  =@promotion.name
    
.evtdis
  .image
    -if mobile_request?
      =image_tag @place.image.url(:i234x168), :size => "300x215"
    -else
      =image_tag @place.image.url(:i640x400), :size => "856x535"

.details.clearfix
  .event
    %h1.name.tf=@promotion.name

    -if @promotion.short_summary.present?
      .short_summary.tf=@promotion.short_summary.html_safe
    .description=@promotion.description.html_safe
  .place.normal
    .info.address.clearfix
      %h1.tf=@place.name
      %address
        -@place.address_lines.each_with_index do |line, i|
          -if line.present?
            .line.clearfix
              .left=line
              -if @place.address_lines.length - 1 == i
                .left.mapit="( #{link_to "map it", gmap_url(@place)} )".html_safe
    .info.phone=phone_link(@place.phone_number)
    -if @place.external_place(:google)
      =link_to "more info from google", external_place_url(@place.external_place(:google)), :class => "info google"
    -if @place.external_place(:yelp)
      =link_to "reviews on yelp", external_place_url(@place.external_place(:yelp)), :class => "info yelp"
    .tf.clearfix.share
      .title Share : 
      =sharing(request.url, "#{@promotion.name} at #{@place.name}? Sounds good to me.")
  -if @promotion.designed_by_spot?
    .designed_by_spot Designed By Spot

-if current_member?
  %hr
-else
  =render :partial => "/shared/membership/overlay", :locals => {:title => "Exclusively available to Spot Members."}

.availability.clearfix
  -unless current_member?
    .shield
  .hours
    .clock
      .hands
        %canvas{:id => "timewedge", :height => mobile_request?? 30 : 150, :width => mobile_request?? 30 : 150, "data-start-hour" => @promotion.start_time, "data-end-hour" => @promotion.end_time}
          =img_with_mobile "icons/clockhandsgry.png", :size => "150x150", :msize => "30x30"
      .ring=img_with_mobile "icons/clockringgry.png", :size => "150x150", :msize => "30x30"
    .timeframe.tf=@promotion.timeframe
        
  .dates
    .title.tf
      -if mobile_request?
        Tap a date to reserve :
      -else
        Reserve this experience. Click an available date : 
    #calendar=render :partial => "calendar", :locals => {:promotion => @promotion}

.explanations.clear.clearfix
  =render :partial => "/site/shared/explanations/howitworks"
  =render :partial => "/site/shared/explanations/fineprint"
  =render :partial => "/site/shared/explanations/guarantee", :locals => {:cssclass => "last"}

-if current_city && mobile_request?
  .back
    =link_to "More #{current_city.name.titlecase} Experiences", city_path(current_city)

-if current_member? && @event && !mobile_request?
  #claimdialog.clearfix.hidden{"data-title" => "Register for #{@event.name}"}
    =render :partial => "claim", :locals => {:event => @event}