.measurements.clearfix
  -if @search
    .map
      =image_tag(google_static_map_url(@search.position, :size => "500x200", :zoom => 13))
    %h2="#{pluralize(@search.result_count, "Place")}"
    -if @search.benchmarks.present?
      %dl.benchmarks.clearfix
        %h2 Benchmarks
        -@search.benchmarks.each do |name, value|
          %dt=name
          %dd="#{(value.real.to_f * 1000).round} ms"
.table
  %table.data
    %thead
      %tr
        %th Image
        %th Id
        %th Name
        %th Address
        %th Wishlists
        %th Distance
        %th Relevance
        %th Source
        %th Actions
    %tbody
      -@search.results.each do |result|
        %tr.center.place{:id => dom_id(result.place), 'data-ll' => result.place.to_lat_lng.to_s, 'data-name' => result.name}
          %td= image_tag result.image.url(:i234x168), :size => "58x42", :class => "place_image clickable", :alt => "", :title => "Click to Change", 'data-img-src' => result.image.processed_url(:i234x168)
          %td= result.place_id
          %td= result.name
          %td= result.full_address
          %td= result.wishlist_count.to_i
          %td= "#{(result.distance * 100).round/100.0} miles" if result.distance 
          %td= result.relevance
          %td= result.source
          %td
            =link_to "Edit", edit_admin_place_path(result.place)
