!!! 5
-ie_html :class => 'no-js', :lang => 'en' do
  %head
    %meta{'charset' => 'utf-8'}
    %title= page_title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    = iphone_meta_tags
    = seo_tags
    = auto_discovery_link_tag(:rss, blog_index_url(:xml))
    = favicon_link_tag("/favicon.ico")
    = open_graph_tags
    = csrf_meta_tag 
    = js_trigger_tag
    = include_javascripts :head
    = yield :head
    -if Rails.env.production?
      = google_analytics_tag(:account_id => 'UA-21193799-1')
    %script{:src => "http://use.typekit.com/eqy7aff.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body{:id => page_namespace, :class => "#{module_names} #{controller_name}"}
    #bg.preload_bg
      =yield :bg
    #page
      = flashes
      %header= yield :header
      #bd= content_for?(:content) ? yield(:content) : yield
      %footer= yield :footer
    #fb-root
    = yield :libraries
    / = google_maps_api_include
    = include_javascripts :vendor
    = include_javascripts :scripts
    = yield :scripts
    :javascript
      Spot.init(#{js_vars});