!!! 5
/[if lt IE 7 ]<html lang="en" class="no-js ie6">
/[if IE 7 ]<html lang="en" class="no-js ie7">
/[if IE 8 ]<html lang="en" class="no-js ie8">
/[if IE 9 ]<html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
%head
  %meta{'charset' => 'utf-8'}
  %title= page_title
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
  %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
  = iphone_meta_tags
  = seo_tags
  = auto_discovery_link_tag(:rss, "http://spotteam.tumblr.com/rss")
  = favicon_link_tag("/favicon.ico")
  = open_graph_tags
  = include_stylesheets :site, :media => 'all'
  = include_stylesheets :iphonesite, :media => 'handheld, only screen and (max-device-width: 480px)'
  = csrf_meta_tag 
  = yield :head
  -if Rails.env.production?
    = google_analytics_tag(:account_id => 'UA-21193799-1')
%body{:id => page_namespace, :class => controller_name}
  #bg
  #page
    =hide_content_tag
    #hd
      = yield :hd
    #bd
      = flashes
      = yield
    #ft
      =yield :ft
    #fb-root
  =include_javascripts :vendor
  =include_javascripts :site
  :javascript
    Spot.init(#{js_vars});