!!! 5
%html{:lang => "en"}
  %head
    %meta{'charset' => 'utf-8'}
    %title= page_title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    = meta_name("viewport", "width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no;")
    = meta_name("keywords", "spot, iphone, app, application, place, wishlist")
    = meta_name("description", "Spot for iPhone lets you save and quickly recall friends' recommendations of places, like restaurants, bars, cafes, spas and other local shops.")
    = meta_name("apple-mobile-web-app-status-bar-style", "black-translucent")
    = favicon_link_tag("/favicon.ico")
    = open_graph_tags
    = include_stylesheets :iphonesite, :media => 'only screen and (max-device-width: 480px)'
    = csrf_meta_tag 
    = yield :head
    -if Rails.env.production?
      = google_analytics_tag(:account_id => 'UA-21193799-1')
  %body{:id => page_namespace, :class => controller_name}
    #bg
    #page
      #hd= yield :hd
      #bd
        = flashes
        = yield
      #ft= yield :ft
      #fb-root
    :javascript
      if (! /MSIE (\d+\.\d+);/.test(navigator.userAgent)) {
        document.getElementById('ft').style.display = 'none';
        document.getElementById('bg').style.display = 'none';
      }
    =include_javascripts :vendor
    =include_javascripts :site
    :javascript
      Spot.init(#{js_vars});