!!! 5
/[if lt IE 7 ]<html lang="en" class="no-js ie6">
/[if IE 7 ]<html lang="en" class="no-js ie7">
/[if IE 8 ]<html lang="en" class="no-js ie8">
/[if IE 9 ]<html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
%head
  %meta{'charset' => 'utf-8'}
  %title= page_title
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
  %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
  = meta_tag("viewport", "width=device-width; initial-scale=1.0; maximum-scale=1.0;")
  = meta_tag("keywords", "spot, iphone, app, application, place, wishlist")
  = meta_tag("description", "Spot for iPhone lets you save and quickly recall friends' recommendations of places, like restaurants, bars, cafes, spas and other local shops.")
  = auto_discovery_link_tag(:rss, "http://spotteam.tumblr.com/rss")
  = favicon_link_tag("/favicon.ico")
  = open_graph_tags
  = include_stylesheets :site, :media => 'all'
  = csrf_meta_tag 
  = yield :head
  -if Rails.env.production?
    = google_analytics_tag(:account_id => 'UA-21193799-1')
%body{:id => page_namespace, :class => controller_name}
  #bg
  #page
    #hd= yield :hd
    #bd= yield
    #ft
      #nav
        =link_to "signup", root_path, :class => "page"      
        =link_to "twitter", "http://www.twitter.com/spotteam", :target => "_new"      
        =link_to "blog", blog_index_path, :class => "page"
        =link_to "about", about_path, :class => "page"
    #fb-root
  =include_javascripts :vendor
  =include_javascripts :site
  :javascript
    Spot.init(#{js_vars});